body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.MuiDialog-paper {
  overflow-y: inherit !important;
}
.MuiDialogContent-root {
  overflow-y: inherit !important;
}
.EnhancedTable-tableWrapper-123 {
  width: 95%;
  margin: 0 auto;
}
th, td {
  padding: 0 10px !important;
}
